<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringJSON:war exploded">
    <output-path>$PROJECT_DIR$/SpringJSON/target/SpringJSON</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringJSON</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringJSON" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.9" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.9" />
          <element id="library" level="project" name="Maven: cglib:cglib:3.3.0" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm:7.1" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.0.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.12.4" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.12.4" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.12.4" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.6" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringJSON/target/SpringJSON/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringJSON/web/Web" />
    </root>
  </artifact>
</component>